* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  width: 100%;
  height: 80px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(35, 33, 33);
}
.nav-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}
.section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(35, 33, 33);
}
.span {
  font-weight: bolder;
}
.sect-container {
  width: 80%;
  height: 100%;
}
.div1 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px solid rgba(211, 211, 211, 0.18);
  overflow: hidden;
}
.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.div2 {
  width: 600px;
  height: 600px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 90px;
  margin-right: 150px;
}
.p {
  font-weight: 100;
  color: lightgray;
  margin-top: 10px;
}
.h1 {
  font-size: 4rem;
  color: white;
  margin-top: 20px;
}
.para {
  color: white;
  left: 0;
  margin: 20px;
}
.btn {
  background-color: grey;
  border-radius: 20px;
  padding: 10px 20px;
  border: 3px solid blue;
}
.btn1 {
  background-color: grey;
  border-radius: 20px;
  padding: 10px 20px;
  border: 3px solid white;
  margin-top: 20px;
}
.s {
  font-weight: 900;
}
.sp {
  font-weight: 100;
}
.im {
  margin-top: 15px;
  margin-right: 5px;
}
.di {
  width: 1255px;
  height: 0.1px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 670px;
}
.spannr {
  color: lightgray;
  font-weight: lighter;
  gap: 25px;
  margin-left: 20px;
}
.d {
  width: 1255px;
  height: 70px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  margin-top: 675px;
}
.divi {
  width: 400px;
  height: 70px;
  display: flex;
  align-items: center;
  position: absolute;
  margin-left: 850px;
}
.spannest {
  color: lightgray;
  font-weight: lighter;
}
